body {
  font-family: "Nunito", sans-serif;
  color: #777;
  line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  font-weight: 600;
  color: #222;
}
.logo {
  color: #11a93a;
  letter-spacing: 5px;
  font-weight: 300;
}

.btn-brand {
  border-radius: 0;
  padding: 15px 30px;
  text-decoration: none;
  background-color: #11a93a;
  border-color: #11a93a;
  color: white;
  font-weight: 500;
}
.btn-brand:hover {
  background-color: #078d2b;
  border-color: #078d2b;
  color: white;
}

.slide-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/assets/fufu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/assets/jollofrice.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.6);
  width: 40px;
  height: 70px;
  margin: auto;
}

#heroSlider h6::after,
#heroSlider h6::before {
  content: " ";
  width: 40px;
  height: 2px;
  background-color: white;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}
