body {
  font-family: "Nunito", sans-serif;
  color: #777;
  line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  font-weight: 600;
  color: #222;
}
.logo {
  color: #11a93a;
  letter-spacing: 5px;
  font-weight: 300;
}

a {
  color: #222;
  text-decoration: none;
  transition: all 0.4s;
}
a:hover {
  color: #f58d17;
}
.btn-success {
  border-radius: 0%;
}
